<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LDV_DESIGNE_BZ.Properties.Settings.LDV_PEDREIRAConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=LDV_PEDREIRA;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="LDV_DESIGNE_BZ.Properties.Settings.LDV_PEDREIRAConnection"
            connectionString="Data Source=localhost;Initial Catalog=LDV_PEDREIRA;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>